body {
  background-image: url(./img/desert.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(0.6);
  min-height: 100vh;
  margin: 0;
  font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 100px;
  margin: 0;
  text-align: center;
  padding: 40px 0;
  color: black;

  text-shadow: 0 1px #f68f00, -1px 0 #b17a02, -1px 2px #9d700f, -2px 1px #f99f03,
    -2px 3px #f68f00, -3px 2px #b17a02, -3px 4px #9d700f, -4px 3px #f99f03,
    -4px 5px #f68f00, -5px 4px #b17a02, -5px 6px #9d700f, -6px 5px #f99f03,
    -6px 7px #f68f00, -7px 6px #b17a02, -7px 8px #9d700f, -8px 7px #f99f03;
}

.game-content {
  position: relative;
  max-width: 720px;
  height: 480px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 9px 10px rgba(0, 0, 0, 0.75);
}

.startscreen-container {
  max-width: 720px;
  height: 480px;
  position: relative;
  z-index: 5;
  border-radius: 20px;
}

.startscreen-button {
  display: flex;
  width: 100%;
  justify-content: center;
}

.startscreen-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.start-button {
  position: absolute;
  top: 20px;
  background-color: #feae00;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
}

.start-button:hover {
  cursor: pointer;
  background-color: #987a01;
}

.start-button h4 {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.start-button img {
  height: 24px;
  width: 24px;
}

.instructions {
  position: absolute;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
  justify-content: center;
  gap: 16px;
  align-items: center;
  background-color: #feae00;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 0;
  border: 1px solid black;
  box-shadow: 0px 0px 9px 10px rgba(0, 0, 0, 0.75);
  font-size: 20px;
}

.instructions h2 {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.sound-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 20px;
  z-index: 10;
  opacity: 0.7;
}

.sound-button:hover {
  cursor: pointer;
  opacity: 1;
}

.sound-button img {
  height: 32px;
  width: 32px;
}

.fullscreen-button {
  position: absolute;
  top: 20px;
  right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 20px;
  z-index: 10;
  opacity: 0.7;
}

.fullscreen-button:hover {
  cursor: pointer;
  opacity: 1;
}

.fullscreen-button img {
  height: 32px;
  width: 32px;
}

.loadingscreen-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 60px;
  color: #ea9c24;
}

.loadingscreen-container img {
  height: 300px;
  width: 300px;
}

.canvas-container {
  position: absolute;
}

.losescreen-container {
  max-width: 720px;
  height: 480px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.lose-buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 16px;
}

.lose-buttons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.try-again-button {
  background-color: #feae00;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  gap: 8px;
}

.try-again-button:hover {
  background-color: #987a01;
  cursor: pointer;
}

.try-again-button h4 {
  margin: 0;
}

.back-to-menu-button {
  background-color: #feae00;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  gap: 8px;
}

.back-to-menu-button:hover {
  background-color: #987a01;
  cursor: pointer;
}

.back-to-menu-button img {
  height: 24px;
  width: 24px;
}

.back-to-menu-button h4 {
  margin: 0;
}

.lose-image {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.winscreen-container {
  max-width: 720px;
  height: 480px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.win-buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 16px;
}

.win-image {
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
  top: 25%;
  width: 100%;
}

.overlayMobile {
  position: absolute;
  background-color: #cacaca;
  z-index: 15;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
}

.overlayMobile img {
  height: 300px;
  width: 300px;
}

.mobile-buttons {
  box-sizing: border-box;
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  z-index: 20;
  gap: 16px;
}

.mobile-animation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.move-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mobile-attack-button {
  height: 50px;
  width: 50px;
  background-color: #feae00;
  border: 2px solid black;
  border-radius: 10px;
  object-fit: cover;
}

.mobile-move-button {
  height: 32px;
  width: 32px;
  background-color: #feae00;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.d-none {
  display: none;
}

@font-face {
  font-family: 'Zabars';
  src: url(./fonts/ZABARS/Zabars.ttf);
}

canvas {
  background-color: black;
  display: block;
  border-radius: 20px;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .overlayMobile {
    display: none;
  }
  .btn-mobile-wrapper {
    display: flex !important;
  }
}

@media (max-width: 1024px) and (orientation: landscape) and (max-height: 600px) {
  h1 {
    display: none;
  }
}

@media (max-width: 720px) {
  h1 {
    display: none;
  }
}

@media (min-width: 800px) {
  .overlayMobile {
    display: none;
  }

  /*.move-mobile {
    display: none;
  }*/
}
